component/Dashboard/__pycache__
component/Dashboard/__pycache__
component/income/__pycache__
component/Dashboard/__pycache__/body.cpython-311.pyc
component/Dashboard/__pycache__/header.cpython-311.pyc
component/Dashboard/__pycache__/show_info.cpython-311.pyc
component/expense/__pycache__/DataHandler.cpython-311.pyc
component/expense/__pycache__/FeedBack.cpython-311.pyc
component/expense/__pycache__/GUI.cpython-311.pyc
component/summary/__pycache__/DataManager.cpython-311.pyc
component/summary/__pycache__/gui.cpython-311.pyc
